body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image:black;
    overflow: hidden;
}


h1 .Utopia{
    text-align: left;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    margin-left: auto;
    margin-right: auto;
}



.banner1.banner2.banner3.banner4.banner5{
    height: 100vh;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
}

img{
    width: 120%;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out{
    100%{
        width: 100%;
    }
}


.text-box{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: white;  
    padding-bottom: 20px;  

}
.text-box h1{
    text-transform: uppercase;
    font-size: 3.2em;
    margin-bottom: 40px;
    }
.text-box p {
    font-family: 'Roboto' , sans-serif;
    font-size: 20px; 
    margin-top: 80px;
}
.text-box span{
    height: 5px;
    background-color: white;
    width: 300px;
    position: absolute;
}

.banner1{
    animation: first 12s linear infinite;
}
.banner2{
    animation: second 12s linear infinite;
}
.banner3{
    animation: third 12s linear infinite;
}
.banner4{
    animation: fourth 12s linear infinite;
}
.banner5{
    animation: fifth 12s linear infinite;
}

@keyframes first{
    0%{
        visibility: visible;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }    
    80%{
        visibility: hidden;        
    }
    100%{
        visibility: visible;
    }
}

@keyframes second{
    0%{
        visibility: hidden;
    }
    20%{
        visibility: visible;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes third{
    0%{
        visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: visible;
    }
    60%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}


@keyframes fourth{
    0%{
        visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: visible;
    }
    80%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes fifth{
    0%{
        visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    80%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}